<form id="instabugForm">
  <h3>%title%</h3>
  <div id="download-instabug-plugin">
    <p>%downloadPluginInfo%</p>
    <button style="margin-bottom: 10px;" onclick="ibgSdk.downloadExtension(event)">%downloadPlugin%</button>
  </div>
  <p id="plugin-not-downloadable">%pluginNotDownloadable%</p>
  <p>%hint%</p>
  <input
    id="email"
    class="instabug-input"
    type="text"
    name="email"
    placeholder="%emailPlaceholder%"
    value="" />
  <textarea
  id="comment"
  class="instabug-input"
  name="comment"
  placeholder="%commentPlaceholder%"
  rows="4"
  cols="30"></textarea>
  <div id="comment-length"></div>
  <div>
    <p>%extraImage%</p>
    <input style="display: block" name="image" id="extra-image" type="file"/>
    <p id="extra-image-error" style="background:red; display: none">%extraImageError%</p>
  </div>

  <button id="submit-bugreport" disabled="disabled"
    type="button"
    onclick="ibgSdk.submitReport()">
    %submitBug%
  </button>

  <button
    type="button"
    onclick="ibgSdk.resetAndClose()">
    %cancel%
  </button>
</form>
